@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: black;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    width: 248px;
    height: 500px;
    background: blue;
}